@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: 0;
    font-size: 62.5%;
}
.main-container {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
  
}
.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: space-around;
  
}
.container:first-child {
    background: var(--grey);
}
h3, h2 {
    font-family: 'Merriweather', sans-serif;
    color: var(--black);
    font-weight: 700;
}
h3, label, p, a  {
    font-size: 1.6rem;
}
h2 {
    font-size: 2.6rem;
   
}
label, p, a {
    font-family: 'Lato';
    color: var(--black);
    line-height: 1.9rem;
    font-weight: 400;
}
.form {
    width: 60%;
    margin-top: 3.9rem;
}
input[type=email], input[type=password], button{
    height: 5rem;
    width: 100%;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    font-size: 1.6rem;
}
.recuperation, .cadastro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.recuperation {
    padding: 2.6rem 0;
}
button {
    cursor: pointer;
}
#green {
    color: white;
    background: var(--green);
    margin-bottom: 1.5rem;
}
#google {
    color: white;
    background: var(--black);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16.2rem;
}
#google img {
    margin-right: 1rem;
}

